<div class="flex flex-row justify-content-center align-items-center">
  <br />

  <div class="col-6 ">
    <br />
    <br />
    <br />
    <div class="card">
      <h4 class="text-center">Change Password</h4>

      <form [formGroup] = "passwordForm" (ngSubmit)="save()">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-12">
            <label htmlFor="oldPassword">Old Password</label>
            <input pInputText id="oldPassword" formControlName="oldPassword" type="password" required />
          </div>
          <div class="field col-12 md:col-12">
            <label htmlFor="password">New Password</label>
            <input pInputText id="password" type="password" formControlName="password" required />
          </div>
          <div class="field col-12 md:col-12">
            <label htmlFor="confirm_password">Confim New Password</label>
            <input pInputTextarea type="password" formControlName="confirm_password" id="confirm_password" required />
            <div *ngIf="submitted && c.confirm_password.errors" class="invalid-feedback">
              <div *ngIf="c.confirm_password.errors.mustMatch">Password and confirm not match</div>
            </div>
          </div>
          <div class="field col-12 md:col-12">
            <button type="submit" pButton pRipple label="Save" class="w-full p-3 text-xl"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
