<div class="layout-invoice-page" *ngIf="master">
    <p-toast></p-toast>

    <p-toolbar styleClass="mb-3 align-items-start">
        <ng-template pTemplate="left">
            <app-details-card [master]="master" type="claim"></app-details-card>
        </ng-template>
        <ng-template pTemplate="right">
            <div class="field col">
                <p-confirmPopup></p-confirmPopup>
                <p-menu #menu [popup]="true" [model]="menuItems" [style]="{'width':'200px'}"></p-menu>
                <button pButton pRipple [disabled]="editAuth==false" class="mb-3 p-button-warning" type="button"
                    icon="pi pi-fw pi-cog" label="{{ 'operations.actions' | translate }}"
                    (click)="menu.toggle($event)"></button>
            </div>
            <div class="field">
                <button pButton pRipple label="Edit Claim" class="p-button-success mr-2 mb-3"
                    [disabled]="!(master.status.id == 1 && editAuth==true)" [routerLink]="['/edit-claim']"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <div class="grid layout-invoice-content">
        <div class="col-12">
            <div class="mt-5">
                <p-tabView [(activeIndex)]="activeTab">
                    <p-tabPanel header="Claim Information">
                        <div class="pt-5 text-center" *ngIf="isFetching">
                            <p-progressSpinner [style]="{width: '50px', height: '50px', textAlign: 'center'}"
                                styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                                animationDuration=".5s"></p-progressSpinner>
                        </div>
                        <div class="py-5 text-center" *ngIf="!isFetching && details.length == 0">
                            this claim has no requests
                        </div>
                        <p-table *ngIf="details.length > 0" dataKey="id" #dt [rows]="10" [value]="details"
                            styleClass="p-invoice-datatable-responsive pb-3" [paginator]="true">
                            <!-- <ng-template pTemplate="caption" class="pb-0">
                                <div class="border-300 border-bottom-1">
                                    <ng-container *ngFor="let state of status">
                                        <button (click)="filterByStatus(state)" pButton pRipple type="button"
                                            label="{{state}}"
                                            [ngClass]="{'active': selectedState == state, 'text-black-alpha-40': selectedState !== state}"
                                            class="mr-3 p-button-text"></button>
                                    </ng-container>
                                </div>
                            </ng-template> -->
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pColumn="id">{{ 'common.id' | translate }}</th>
                                    <th>Privacy</th>
                                    <th>Part Name</th>
                                    <th>Request For</th>
                                    <th>Status</th>
                                    <th [hidden]="role == 2">
                                        {{'operations.actions' | translate }}</th>
                                    <!-- <th [hidden]="role == 2">
                                        Bids</th> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-part>
                                <tr>
                                    <td>
                                        {{part.id}}
                                    </td>
                                    <td>
                                        {{master.privacy}}
                                    </td>
                                    <td>
                                        {{part.part.name}}
                                    </td>
                                    <td>
                                        {{part.partOption}}
                                    </td>
                                    <td>
                                        {{getStatus(part.part.status)}}
                                    </td>
                                    <td>action</td>
                                    <!-- <td [hidden]="role > 1">
                                        <button pButton pRipple icon="pi pi-eye" [disabled]=""
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="viewBidsByRequest(part)"></button>
                                    </td> -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                    <p-tabPanel *ngIf="viewAuth == true" header="{{ 'job.tableColumn.receivedBids' | translate }}">
                        <div class="py-5 px-3">
                            <button [disabled]="bidDto.length == 0" (click)="onCompareBids()" pButton pRipple type="button" label="Compare Bids"
                                class="p-button-rounded bg-indigo-100 text-indigo-600 border-0 font-light px-5"></button>
                        </div>
                        <div class="py-5 text-center" *ngIf="!isFetching && bidDto.length == 0">
                            this claim has no bids yet.
                        </div>
                        <p-table *ngIf="bidDto.length > 0" [columns]="cols" [rows]="10" [value]="bidDto"
                            styleClass="p-invoice-datatable-responsive pb-3" [paginator]="true">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th pColumn="supplierName">{{ 'bid.tableColumn.supplierName' | translate }}</th>
                                    <th pColumn="status">{{ 'bid.tableColumn.status' | translate }}</th>
                                    <th pColumn="bidDate">{{ 'bid.tableColumn.bidDate' | translate }}</th>
                                    <th pColumn="bidValue">{{ 'bid.tableColumn.bidValue' | translate }}</th>
                                    <th [hidden]="printingMode===true">{{
                                        'bid.title' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-bid>
                                <tr>
                                    <td>
                                        {{bid.supplierName? bid.supplierName : bid.userFirstName}}
                                    </td>
                                    <td>
                                        {{getStatusName(bid.statusId)}}
                                    </td>
                                    <td>
                                        {{bid.bidDate | date: 'dd/MM/yyyy hh:mm'}}
                                    </td>
                                    <td>
                                        {{bid.price | number}}
                                    </td>
                                    <td [hidden]="printingMode===true">
                                        <button pButton pRipple icon="pi pi-eye"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="viewBid(bid)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                    <p-tabPanel *ngIf="newAuth == true" header="{{ 'job.tableColumn.addBids' | translate }}">
                        <app-new-bid type="new claimBid" *ngIf="details.length > 0" [requests]="details"></app-new-bid>
                        <div class="py-5 text-center" *ngIf="!isFetching && details.length == 0">
                            this claim has no requests
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>

        </div>

    </div>
</div>

<!-- confirm action dialog -->
<p-dialog [(visible)]="confirmActionDialog" header="{{ 'operations.confirmAction' | translate}}" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span><b>{{ 'operations.confirmActionMessage' | translate }}</b></span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="confirmActionDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirm()"></button>
    </ng-template>
</p-dialog>

<!-- bids by request dialog -->
<p-dialog [(visible)]="bidDetailsDialog" [modal]="true" styleClass="" (onHide)="closeBidDialog()">
    <p-toolbar styleClass="mb-2 width-100">
        <ng-template pTemplate="left">
            <p class="font-medium muted-text text-xl">{{'bid.bidDialog.titleBySupplier' | translate }} {{supplierName?
                supplierName : '-'}}</p>
        </ng-template>

        <ng-template pTemplate="right">
            <div class="grid p-fluid">
                <div class="col-12 md:col-5">
                    <button pButton pRipple type="button" label="{{ 'operations.approve' | translate }}"
                        icon="pi pi-check" (click)="approveBidDialog = true" [disabled]="editAuth == false"
                        class="p-button-success mr-2 mb-3"></button>
                </div>

                <div class="col-12 md:col-5">
                    <button pButton pRipple type="button" label="{{ 'operations.reject' | translate }}"
                        icon="pi pi-times" (click)="rejectBidDialog = true" [disabled]="editAuth ==false"
                        class="p-button-danger mr-2 mb-3"></button>
                </div>

                <div class="col-12 md:col-2">
                    <button pButton pRipple type="button" icon="pi pi-times" (click)="closeBidDialog()"
                        class="mb-3"></button>
                </div>
            </div>

        </ng-template>
    </p-toolbar>
    <ng-template pTemplate="content">
        <p-table #dt [value]="currentBid" [columns]="cols" [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                    <th pColumn="id">Part Name</th>
                    <!-- <th pColumn="supplierName">{{ 'bid.bidDetails.supplierName' | translate}}
                    </th> -->
                    <th pColumn="warranty">{{ 'bid.bidDetails.warranty' | translate }}
                    </th>
                    <th pColumn="deliverDays">{{ 'bid.bidDetails.deliverDays' | translate }}
                    </th>
                    <th pColumn="originalPrice">{{ 'bid.bidDetails.originalPrice' | translate }}
                    </th>
                    <th pColumn="discount">{{ 'bid.bidDetails.discount' | translate }}
                    </th>
                    <th pColumn="vat">{{ 'bid.bidDetails.vat' | translate }}
                    </th>
                    <th>
                        Service Price
                    </th>
                    <th pColumn="totalPrice">{{ 'bid.bidDetails.totalPrice' | translate }}
                    </th>
                    <!-- <th pColumn="status">{{ 'common.status' | translate }}
                    </th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bid>
                <tr>
                    <td>{{bid.part}}</td>
                    <!-- <td>
                        {{supplierName}}
                        <i (click)="showModal(bid)" style="cursor: pointer; border-right: 1px solid #dee2e6;"
                            class="pi pi-images fs-large m-2 ml-3 text-blue-500"></i>
                    </td> -->
                    <td>
                        {{bid.warranty ? bid.warranty : 0}} Days
                    </td>
                    <td>
                        {{bid.availability? bid.availability : 0}} Days
                    </td>
                    <td>
                        {{bid.originalPrice}}
                    </td>
                    <td>
                        {{bid.discount? bid.discount + (bid.discountType == 'flat'? ' OMR' : '%') : 0}}
                    </td>
                    <td>
                        {{bid.vat}}
                    </td>
                    <td>
                        {{bid.servicePrice + ' OMR'}}
                    </td>
                    <td>
                        {{bid.price + bid.servicePrice  | number}}
                    </td>
                    <!-- <td>
                        {{getStatusName(bid.statusId)}}
                    </td> -->
                </tr>
            </ng-template>
        </p-table>

    </ng-template>
    <!-- {{currentBid | json}} -->
</p-dialog>


<p-dialog [(visible)]="approveBidDialog" header="{{ 'job.operations.approveBid' | translate }}" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-check-circle mr-3" style="font-size: 2rem"></i>
        <span [ngStyle]="{color:'var(--green-700)'}">
            <h6>{{ 'job.operations.approveBids' | translate }}</h6>
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Cancel"
            (click)="approveBidDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Confirm"
            (click)="approveBid()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="rejectBidDialog" header="{{ 'job.operations.rejectBid' | translate }}" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-times-circle mr-3" style="font-size: 2rem"></i>
        <span [ngStyle]="{color:'var(--orange-700)'}">
            <h6>{{ 'job.operations.rejectBids' | translate }}</h6>
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Cancel"
            (click)="rejectBidDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Confirm"
            (click)="rejectBid()"></button>
    </ng-template>
</p-dialog>
