<div class="grid">
    <div class="col-12">
        <div class="card">
            <!-- add job info here -->
            <!-- <app-details-card [master]="" [role]=""></app-details-card> -->
        </div>
    </div>
    <div class="col-12 mb-4">
        <h5>Body Parts</h5>
        <div class="card">
            <p-table [value]="parts">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Parts Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-part>
                    <tr>
                        <td>
                            {{part.name}}
                        </td>
                        <td>
                            <p-dropdown [options]="actions" (onChange)="onAction($event.value, part)"></p-dropdown>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-12 mb-4">
        <h5>Electrical+Electronics</h5>
        <div class="card">
            <p-table [value]="parts">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Parts Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-part>
                    <tr>
                        <td>
                            {{part.name}}
                        </td>
                        <td>

                            <p-dropdown [options]="actions"></p-dropdown>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-12 mb-4">
        <h5>Mechanical</h5>
        <div class="card">
            <p-table [value]="parts">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Parts Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-part>
                    <tr>
                        <td>
                            {{part.name}}
                        </td>
                        <td>

                            <p-dropdown [options]="actions"></p-dropdown>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-12">
        <form [formGroup]="updateJobForm">
            <div class="grid card">
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Inspection By</label>
                    <input formControlName="inspectionBy" class="width-100 mb-2" type="text" pInputText />
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Surveyed By</label>
                    <input formControlName="surveyedBy" class="width-100 mb-2" type="text" pInputText />
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Repair Cost</label>
                    <input formControlName="repaierCost" class="width-100 mb-2" type="number" pInputText />
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Workshop Grade</label>
                    <input formControlName="garde" class="width-100 mb-2" type="text" pInputText />
                </div>
                <div class="col-12 md:col-4">
                    <label class="block mb-2">Bid Closing Date</label>
                    <input formControlName="bidClosingDate" class="width-100 mb-2" type="date" pInputText />
                </div>
                <div class="col-12 md:col-4">
                    <label class="block mb-2">Assign Type</label>
                    <input formControlName="assignType" class="width-100 mb-2" type="text" pInputText />
                </div>
                <div class="col-12 md:col-4">
                    <label class="block mb-2">Privacy</label>
                    <input formControlName="privacy" class="width-100 mb-2" type="text" pInputText />
                </div>
                <div class="col-12">
                    <label class="block mb-2 fw-700">Note</label>
                    <textarea formControlName="note" rows="3" class="width-100" pInputTextarea></textarea>
                </div>
                <div class="col-12 text-center">
                    <button (click)="sendRequest()" class="width-100 md:w-20rem" pButton pRipple type="submit" label="Create Request">
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
