<div class="grid">
    <div class="col-12">
        <div class="card">
            <!-- add job info here -->
            <!-- <app-details-card [master]="" [role]=""></app-details-card> -->
        </div>
    </div>
    <div class="col-12  mb-4" *ngFor="let part of partsList">
        <h5>{{part.categoryName}}</h5>
        <div class="card">
            <p-table [value]="part.list" [loading]="loading">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Parts Name
                        </th>
                        <th>
                            Action
                        </th>
                        <!-- <th>
                            Parts Name
                        </th>
                        <th>
                            Action
                        </th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-parts let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{parts.partName}}
                        </td>
                        <td>
                            <p-dropdown [options]="actions"
                                (onChange)="onAction($event.value, {partId: parts.partId})"></p-dropdown>
                        </td>
                        <!-- <td *ngIf="rowIndex >= calcHalf(part.list)">
                            {{rowIndex}} {{calcHalf(part.list)}} {{parts.partName}}
                        </td>
                        <td *ngIf="rowIndex >= calcHalf(part.list)">
                            <p-dropdown [options]="actions"
                                (onChange)="onAction($event.value, {partId: parts.partId})"></p-dropdown>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-12">
        <form [formGroup]="updateClaimForm">
            <div class="grid card">
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Inspection By</label>
                    <input formControlName="inspectedBy" class="width-100 mb-2" type="text" pInputText />
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Surveyed By</label>
                    <input formControlName="surveyedBy" class="width-100 mb-2" type="text" pInputText />
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Repair Cost</label>
                    <p-inputNumber styleClass="width-100 mb-2" formControlName="repairCost" mode="currency"
                        currency="OMR" locale="en-US"></p-inputNumber>
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Repair Hrs.</label>
                    <p-inputNumber formControlName="repairHrs" styleClass="width-100 mb-2" suffix=" Hrs">
                    </p-inputNumber>
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Office Location</label>
                    <input formControlName="officeLocation" class="width-100 mb-2" type="text" pInputText />
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Workshop Grade</label>
                    <input formControlName="workshopGrade" class="width-100 mb-2" type="text" pInputText />
                </div>
                <div class="col-12 md:col-4">
                    <label class="block mb-2">Bid Closing Date</label>
                    <p-calendar dataType="string" formControlName="bidClosingDate" class="width-100 mb-2"
                        appendTo="body" dateFormat="yy-mm-dd"></p-calendar>
                </div>
                <div class="col-12 md:col-4">
                    <label class="block mb-2">Assign Type</label>
                    <p-dropdown [options]="assignTypes" optionValue="type" optionLabel="type" formControlName="assignType"
                        (onChange)="onAssignTypeChange($event)"></p-dropdown>
                </div>
                <div class="col-12 md:col-4">
                    <label class="block mb-2">{{ 'job.form.privacy' | translate }}</label>
                    <input formControlName="privacy" class="width-100 mb-2" type="text" pInputText />
                </div>
                <div class="col-12">
                    <label class="block mb-2 fw-700">Note</label>
                    <textarea formControlName="notes" rows="3" class="width-100" pInputTextarea></textarea>
                </div>
                <div class="col-12 text-center">
                    <button (click)="sendRequest()" class="width-100 md:w-20rem" pButton pRipple type="submit"
                        label="Create Request">
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

