<label class="block mb-2">{{ 'job.form.privacy' | translate }}</label>
<p-dropdown appendTo="body" formControlName="privacy" [options]="privacyList"
    (onChange)="onPrivacyChange($event.value)"></p-dropdown>

<div class="mt-3" *ngIf="privateSuppliersList.length > 0">
    <ng-container *ngFor="let supplier of privateSuppliersList">
        <p-chip class="mr-2" [removable]="true" (onRemove)="removePrivateSupplier(supplier)">
            {{supplier.name}}
        </p-chip>
    </ng-container>
</div>

<!-- <p-dialog header="Private Suppliers" [modal]="true" [style]="{width: '50vw'}" [(visible)]="displayPrivateSuppliers"
    (onHide)="resetPrivacy()">
    <p-listbox *ngIf="selectedPrivateSuppliers | async as selectedPrivateSuppliers; else loading"
        (onChange)="selectSupplier($event.value)" [checkbox]="true" [options]="selectedPrivateSuppliers"
        formControlName="suppliers" [multiple]="true" optionLabel="name"></p-listbox>
    <ng-template #loading>loading suppliers..</ng-template>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayPrivateSuppliers=false" label="Ok" styleClass="p-button-text"
            [disabled]="!supplierSelected"></p-button>
    </ng-template>
</p-dialog> -->
