<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <!-- add job info here -->
            <app-details-card type="claim" *ngIf="claim" [master]="claim" [role]=""></app-details-card>
        </div>
    </div>
    <div class="col-12" *ngFor="let part of partsList" #partList>
        <h5>{{part.categoryName}}</h5>
        <div class="card">
            <p-table [value]="part.list" [loading]="loading">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Parts Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-part let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{part.partName}}
                        </td>
                        <td>
                            <div class="flex">
                                <div *ngFor="let action of actions; let i = index;" class="field-checkbox mr-3">
                                    <p-radioButton [disabled]="part.disabled" (onClick)="onAction(part.action, {partId: part.partId})" [inputId]="action.id" [name]="action.name" [value]="action.name" [(ngModel)]="part.action"></p-radioButton>
                                    <label [for]="action.id" class="ml-2">{{ action.name }}</label>
                                </div>
                            </div>
                        </td>
                        <!-- <td *ngIf="rowIndex >= calcHalf(part.list)">
                            {{rowIndex}} {{calcHalf(part.list)}} {{parts.partName}}
                        </td>
                        <td *ngIf="rowIndex >= calcHalf(part.list)">
                            <p-dropdown [options]="actions"
                                (onChange)="onAction($event.value, {partId: parts.partId})"></p-dropdown>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <!-- <div class="col-12 text-right  mb-4">
        <button (click)="addPartDialog = true" class="width-100 md:w-20rem" pButton pRipple type="button"
            label="Add New Part" icon="pi pi-plus" iconPos="left">
        </button>
    </div> -->
    <div class="col-12">
        <form [formGroup]="updateClaimForm">
            <div class="grid card">
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Inspection By</label>
                    <input formControlName="inspectedBy" class="width-100 mb-2" type="text" pInputText />
                    <small
                        *ngIf="submitted && !updateClaimForm.get('inspectedBy').valid  && updateClaimForm.get('inspectedBy').errors?.['required']"
                        class="p-error">Inspection By is required</small>
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Surveyed By</label>
                    <input formControlName="surveyedBy" class="width-100 mb-2" type="text" pInputText />
                    <small
                        *ngIf="submitted && !updateClaimForm.get('surveyedBy').valid  && updateClaimForm.get('surveyedBy').errors?.['required']"
                        class="p-error">Surveyed By is required</small>
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Repair Cost</label>
                    <p-inputNumber currencyDisplay="code" styleClass="width-100 mb-2" formControlName="repairCost"
                        mode="currency" currency="OMR" locale="en-US"></p-inputNumber>
                    <small
                        *ngIf="submitted && !updateClaimForm.get('repairCost').valid  && updateClaimForm.get('repairCost').errors?.['required']"
                        class="p-error">Repair Cost is required</small>
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Repair Hrs.</label>
                    <p-inputNumber formControlName="repairHrs" styleClass="width-100 mb-2" suffix=" Hrs">
                    </p-inputNumber>
                    <small
                        *ngIf="submitted && !updateClaimForm.get('repairHrs').valid  && updateClaimForm.get('repairHrs').errors?.['required']"
                        class="p-error">Repair Hrs is required</small>
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Office Location</label>
                    <input formControlName="officeLocation" class="width-100 mb-2" type="text" pInputText />
                    <small
                        *ngIf="submitted && !updateClaimForm.get('officeLocation').valid  && updateClaimForm.get('officeLocation').errors?.['required']"
                        class="p-error">Office Location is required</small>
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Workshop Grade</label>
                    <input formControlName="workshopGrade" class="width-100 mb-2" type="text" pInputText />
                    <small
                        *ngIf="submitted && !updateClaimForm.get('workshopGrade').valid  && updateClaimForm.get('workshopGrade').errors?.['required']"
                        class="p-error">Workshop Grade is required</small>
                </div>
                <div class="col-12 md:col-4">
                    <label class="block mb-2">Bid Closing Date</label>
                    <p-calendar dataType="string" formControlName="bidClosingDate" class="width-100 mb-2"
                        appendTo="body" dateFormat="yy-mm-dd" [minDate]="claimDate"></p-calendar>
                    <small
                        *ngIf="submitted && !updateClaimForm.get('bidClosingDate').valid  && updateClaimForm.get('bidClosingDate').errors?.['required']"
                        class="p-error">Bid Closing Date is required</small>
                </div>
                <div class="col-12 md:col-4">
                    <app-privacy [selectionList]="assignTypes" label="Assign Type" type="claim" [id]="tenantId"
                        [privacyControl]="updateClaimForm.controls['assignType']"
                        [suppliersControl]="updateClaimForm.controls['assignedGarage']"
                        (enableBidding)="onEnabelBidding($event)"></app-privacy>
                    <small
                        *ngIf="submitted && !updateClaimForm.get('assignType').valid  && updateClaimForm.get('assignType').errors?.['required']"
                        class="p-error">Assign Type is required</small>
                </div>
                <div class="col-12 md:col-4">
                    <app-privacy [selectionList]="privacyList" label="{{ 'job.form.privacy' | translate }}" type="claim"
                        [id]="tenantId" [privacyControl]="updateClaimForm.controls['privacy']"
                        [suppliersControl]="updateClaimForm.controls['suppliers']"></app-privacy>
                    <small
                        *ngIf="submitted && !updateClaimForm.get('privacy').valid  && updateClaimForm.get('privacy').errors?.['required']"
                        class="p-error">{{ 'job.form.privacy' | translate }} is required</small>
                </div>
                <div class="col-12">
                    <label class="block mb-2 fw-700">Note</label>
                    <textarea formControlName="notes" rows="3" class="width-100" pInputTextarea></textarea>
                </div>
                <div class="col-12 text-center">
                    <button (click)="onUpdateClaim()" class="width-100 md:w-20rem" pButton pRipple type="submit"
                        [label]="label" icon="{{saving? 'pi pi-spin pi-spinner' : ''}}" iconPos="right">
                    </button>
                </div>
            </div>
        </form>

    </div>

    <!-- Add New Part Dialog -->
    <p-dialog header="Header" [(visible)]="addPartDialog" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
        [resizable]="false">
        <!-- <app-new-part type="claim"></app-new-part> -->
        <div class="text-center my-2">
            <button class="width-100 md:w-20rem p-button-success" pButton pRipple
                icon="{{submitted? 'pi pi-spin pi-spinner' : ''}}" type="submit" iconPos="right"
                label="Add Part"></button>
        </div>
    </p-dialog>
</div>
