<p-toast></p-toast>
<p-table [value]="requests" dataKey="id" [tableStyle]="{'min-width': '50rem', 'width':'100%'}" editMode="row" #partTable
    *ngIf="requests.length > 0">

    <ng-template pTemplate="header">
        <tr>
            <th>{{'bid.bidDetails.partName' | translate}}</th>
            <th>{{'bid.bidDetails.qty' | translate}}</th>
            <th>{{'bid.bidDetails.Preferred' | translate}}</th>
            <th>{{'bid.bidDetails.Proposed' | translate}}</th>
            <th>{{'bid.bidDetails.warranty' | translate}} {{'bid.bidDetails.days' | translate}}</th>
            <th>{{'bid.bidDetails.deliverDays' | translate}} {{'bid.bidDetails.days' | translate}}</th>
            <th>{{'bid.bidDetails.originalPrice' | translate}}</th>
            <th>{{'bid.bidDetails.price' | translate}}</th>
            <th>{{'bid.bidDetails.discount' | translate}}</th>
            <th>{{'bid.bidDetails.vat' | translate}}</th>
            <th>{{'bid.bidDetails.totalPrice' | translate}}</th>
            <th *ngIf="type == 'new bid'">{{'bid.bidDetails.partImgs' | translate}}</th>
            <th *ngIf="type == 'edit bid'">{{'common.status' | translate}}</th>
            <th>{{'bid.bidDetails.modifyBid' | translate}}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-part let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="part" [ngClass]="{'row-disabled': part.saved}">
            <td (click)="showModal(part)" style="cursor: pointer; border-right: 1px solid #dee2e6;"><span>{{type == 'new
                    bid'?
                    part.part.name : part.partName}}</span>
                <i class="pi pi-images fs-large m-2 ml-3  text-blue-500"></i>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="1" max="{{part.qty}}" (input)="onQty(part)" pInputText type="number"
                            [style]="{'width':'100%'}" [(ngModel)]="part.qty2">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.qty2}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="type == 'new bid'">
                <ng-container *ngFor="let type of part.partTypes">
                    {{type.partType + ' '}}
                </ng-container>
            </td>
            <td *ngIf="type == 'edit bid'">
                {{part.partType}}
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="part.statuses" optionLabel="partType" appendTo="body"
                            [(ngModel)]="part.preferred" [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{type == 'new bid'? part.preferred.partType : part.partType}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [style]="{'width':'100%'}" [(ngModel)]="part.warranty">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.warranty}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [style]="{'width':'100%'}" [(ngModel)]="part.availability">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{type == 'new bid'? part.availability : part.deliverDays}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="1" pInputText type="number" (input)="onOriginalPrice(part)"
                            [style]="{'width':'100%'}" [(ngModel)]="part.originalPrice">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.originalPrice | number}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="0" pInputText type="number" [style]="{'width':'100%'}" [(ngModel)]="part.price"
                            disabled="true">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.price | number}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="0" max="{{part.originalPrice}}" (input)="onDiscount(part)" pInputText type="number"
                            [style]="{'width':'100%'}" [(ngModel)]="part.discount">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.discount}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="0" pInputText type="number" (input)="onVat(part)" [style]="{'width':'100%'}"
                            [(ngModel)]="part.vat">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.vat}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>{{type == 'new bid'? part.totalPrice : part.price}}</td>
            <td *ngIf="type == 'new bid'">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-fileUpload chooseIcon="{{part.images.length > 0? 'pi pi-check' : 'pi pi-plus' }}"
                            mode="basic" auto="true" accept="image/*" multiple="multiple"
                            (onSelect)="part.images = $event.currentFiles"></p-fileUpload>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.images.length + ' files selected'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="type == 'new bid'">
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing && !part.isSending" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        (click)="onRowEditInit(part)" class="p-button-rounded p-button-text"
                        [disabled]="part.saved"></button>
                    <button *ngIf="editing && !part.isSending" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(part)"
                        class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing && !part.isSending" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onRowEditCancel(part, ri)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                    <i *ngIf="part.isSending" class="pi pi-spin pi-spinner" style="color: #22c55e"></i>
                </div>
            </td>
            <td *ngIf="type == 'edit bid'">
                {{getStatusName(part.statusId)}}
            </td>
            <td *ngIf="type == 'edit bid'">
                <button (click)="confirmCancel(part.bidId)" pButton pRipple type="button"
                    [disabled]="part.statusId !== 1" class="width-100 p-button-sm text-sm p-button-warning"
                    styleClass="" label="{{'USERSUBMENU.DIALOG.CANCEL' | translate}}"></button>
            </td>
        </tr>
        <tr class="font-bold prices" *ngIf="type == 'edit bid'">
            <td colspan="5"></td>
            <td>Total</td>
            <td>{{bidTotalOriginalPrice | number}}</td>
            <td>{{bidTotalPrice | number}}</td>
            <td>{{bidTotalDiscount}}</td>
            <td></td>
            <td>{{bidTotalPrice | number}}</td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" *ngIf="type == 'new bid'">
        <p class="text-right">{{'bid.bidDetails.total' | translate}}: {{total | number}}</p>
    </ng-template>

</p-table>
<div *ngIf="requests.length <= 0">
    <p>this request has no parts for bid</p>
</div>

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{'max-width': '80vw'}" [resizable]="true">
    <ng-template pTemplate="header">
        {{type == 'new bid'? 'Part Images': modalPart.partName}}
    </ng-template>
    <div class="align-items-start flex justify-content-between mb-3"
        *ngIf="modalPart.documents?.length > 0; else noimages">
        <ng-container *ngFor="let doc of modalPart.documents">
            <img class="car-image rounded-large  shadow-3"
                src="{{'http://letsgo-oman.com:6060/api/v1/document/' + doc.name}}" alt="">
        </ng-container>
    </div>
    <ng-template #noimages>
        <p-message severity="warn" text="{{'bid.bidDetails.noImgs' | translate}}" styleClass="mr-2"></p-message>
    </ng-template>
    <div *ngIf="modalPart.description">
        <h5 class="mb-2">{{modalPart.part.name}}</h5>
        <p class="muted-text text-lg">
            <span class="font-medium">{{'bid.bidDetails.comment' | translate}}:</span> {{modalPart.description}}
        </p>
    </div>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
