<p-toast></p-toast>
<p-table [value]="requests" styleClass="p-datatable-gridlines" dataKey="id"
    [tableStyle]="{'min-width': '50rem', 'width':'100%'}" editMode="row">
    <ng-template pTemplate="header">
        <tr>
            <th>Parts Name</th>
            <th>Qty</th>
            <th>Preferred</th>
            <th>Proposed</th>
            <th>Warranty (days)</th>
            <th>Availability (days)</th>
            <th>Original Price</th>
            <th>Discount</th>
            <th>Price</th>
            <th>Vat (%)</th>
            <th>Total Price</th>
            <th>Part Images</th>
            <th>Modify Bid</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-part let-editing="editing" let-ri="rowIndex">
        <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}" appendTo="body">
            <ng-template pTemplate>
                <div class="align-items-start flex justify-content-between" *ngIf="part.documents.length > 0; else noimages">
                    <ng-container *ngFor="let doc of part.documents">
                        <img class="car-image rounded-large  shadow-3" src="{{'http://letsgo-oman.com:6060/api/v1/document/' + doc.name}}"
                            alt="">
                    </ng-container>
                </div>
                <ng-template #noimages>
                    <p>this part has no images</p>
                </ng-template>
                <div *ngIf="part.description">
                    <h5 class="mb-2">{{part.part.name}}</h5>
                    <p class="muted-text text-lg">
                        <span class="font-medium">Comment from client:</span> {{part.description}}
                    </p>
                </div>
            </ng-template>
        </p-overlayPanel>
        <tr [pEditableRow]="part" [ngClass]="{'row-disabled': part.saved}">
            <td #overlay><span>{{part.part.name}}</span> <i
                    class="pi pi-info-circle fs-large m-2 ml-3 pi pi-info-circle text-blue-500"
                    (click)="op.toggle($event, overlay)"></i></td>
            <td>1</td>
            <td>{{part.partTypes[0]?.partType }} <br> {{part.partTypes[1]?.partType}} <br>
                {{part.partTypes[2]?.partType}}</td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="part.statuses" optionLabel="partType" appendTo="body"
                            [(ngModel)]="part.preferred" [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.preferred.partType}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [style]="{'width':'100%'}" [(ngModel)]="part.warranty">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.warranty}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [style]="{'width':'100%'}" [(ngModel)]="part.availability">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.availability}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="0" pInputText type="number" (input)="onOriginalPrice(part)"
                            [style]="{'width':'100%'}" [(ngModel)]="part.originalPrice">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.originalPrice}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="0" max="{{part.originalPrice}}" (input)="onDiscount(part)" pInputText type="number"
                            [style]="{'width':'100%'}" [(ngModel)]="part.discount">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.discount}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="0" pInputText type="number" [style]="{'width':'100%'}" [(ngModel)]="part.price"
                            disabled="true">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.price}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="0" pInputText type="number" (input)="onVat(part)" [style]="{'width':'100%'}"
                            [(ngModel)]="part.vat">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.vat}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>{{part.totalPrice}}</td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-fileUpload chooseIcon="{{part.images.length > 0? 'pi pi-check' : 'pi pi-plus' }}"
                            mode="basic" auto="true" accept="image/*" multiple="multiple"
                            (onSelect)="part.images = $event.currentFiles"></p-fileUpload>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.images.length + ' files selected'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        (click)="onRowEditInit(part)" class="p-button-rounded p-button-text"
                        [disabled]="part.saved"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(part)"
                        class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onRowEditCancel(part, ri)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <p class="text-right">Total: {{total | number}}</p>
    </ng-template>
</p-table>
<!-- <div class="grid mt-5">
    <div class="col-12">
        <label class="block mb-2">Add a Note</label>
        <textarea [(ngModel)]="note" class="width-100" pInputTextarea placeholder="20 November 2022"></textarea>
    </div>
</div> -->
