<div class="grid">
    <div class="col-12">
        <div class="card">
            <p class="text-lg font-bold">Users</p>
            <p-toast  [baseZIndex]="99999"></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            [disabled]="!newAuth" (click)="openNew()"></button>
                        <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button> -->
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()" [disabled]="!printAuth"></button>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="users" [columns]="cols" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
                styleClass="p-datatable-gridlines" [paginator]="true"
                [globalFilterFields]="['email','enabled','firstName','lastName','phone','authProvider']"
                responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                            (click)="clear(dt)"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter
                                (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search Keyword"
                                class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                User ID
                                <p-columnFilter type="text" field="userId" display="menu"
                                    placeholder="Search by user id">
                                </p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                First Name
                                <p-columnFilter type="text" field="firstName" display="menu"
                                    placeholder="Search by first name">
                                </p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Last Name
                                <p-columnFilter type="text" field="lastName" display="menu"
                                    placeholder="Search by last name">
                                </p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Phone
                                <p-columnFilter type="text" field="Phone" display="menu"
                                    placeholder="Search by phone"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Email
                                <p-columnFilter type="text" field="email" display="menu"
                                    placeholder="Search by email"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Created Date
                                <p-columnFilter type="date" field="createdDate" display="menu" placeholder="mm/dd/yyyy">
                                </p-columnFilter>
                            </div>
                        </th>

                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Enabled
                                <p-columnFilter type="boolean" field="enabled" display="menu"
                                    placeholder="Search by enabled">
                                </p-columnFilter>
                            </div>
                        </th>


                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td style="min-width: 12rem;">
                            {{user.id}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{user.userId}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{user.firstName}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{user.lastName}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{user.phone}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{user.email}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{user.createdDate | date:'longDate'}}
                        </td>

                        <td style="min-width: 12rem;">
                            <p-inputSwitch type="button" [(ngModel)]="user.enabled" (onChange)="changeStatus(user.id)">
                            </p-inputSwitch>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                (click)="editUser(user)" [disabled]="!editAuth"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mt-2"
                                [disabled]="!deleteAuth" (click)="deleteUser(user)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No users found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="7">Loading users data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="userDialog" [style]="{height: '1000px', width: '500px'}" header="User Details"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="fristName">First Name</label>
                    <input type="text" pInputText id="firstName" [(ngModel)]="user.firstName" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.firstName}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.firstName">First Name is
                        required.</small>
                </div>
                <div class="field">
                    <label for="lastName">Last Name</label>
                    <input type="text" pInputText id="lastName" [(ngModel)]="user.lastName" required
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.lastName}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.lastName">Last Name is
                        required.</small>
                </div>

                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" pInputText id="email" [(ngModel)]="user.email" required
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.email}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.email">Email is required.</small>
                </div>

                <div class="field">
                    <label for="phone">Phone</label>
                    <input type="phone" pInputText id="phone" [(ngModel)]="user.phone" required
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.phone}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.phone">Phone is required.</small>
                </div>

                <!-- <div class="field">
                    <label for="userId">User ID</label>
                    <input type="text" pInputText id="userId" [(ngModel)]="user.userId" required
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.userId}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.userId">User ID is required.</small>
                </div> -->

                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" pInputText id="password" [(ngModel)]="user.password" placeholder="********"
                        required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.password}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.password">Password ID is
                        required.</small>
                </div>

                <div class="field">
                    <p-dropdown [options]="roles" [(hidden)]="selectedRoleHidden" [(ngModel)]="selectedRole"
                        placeholder="Select a Role" optionLabel="roleName" [showClear]="true"></p-dropdown>
                </div>
                <br />
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveUser()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="user">Are you sure you want to delete <b>{{user.id}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteUserDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUsersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected users?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteUsersDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
