
.relative {
    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .absolute {
        left: 25%;
        top: 45px;
    }
}

.grid {
    background-color: #f7f7f7;
    max-width: 1050px;
    margin-top: -200px;
    position: relative;
}
