<div class="layout-invoice-page">
    <p-toast></p-toast>
    <p-confirmDialog key="cfmdialog" [style]="{width: '50vw'}" [baseZIndex]="10000"
        rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    <p-toolbar styleClass="mb-2" [hidden]="master.refernceMode===true">
        <ng-template pTemplate="left">
        <div class="formgrid grid">
                <div class="field col-12 md:col-6">
                    <span class="p-buttonset">
                        <button pButton pRipple label="{{ 'operations.addItem' | translate }}" icon="pi pi-plus"
                        class="p-button-success mr-2 mb-3" (click)="openNew()" [disabled]="!(master.status.id == 1 && editAuth===true)"></button>
                        <button pButton pRipple label="{{ 'performaDetails.title' | translate }} #{{master.performa?.id}}"
                        class="p-button-outlined p-button-success mr-2 mb-3" *ngIf="hasRef" (click)="showRef(master.performa)"></button>
                    </span>
                </div>
            <div class="field col-12 md:col-6">
                <div class="flex align-items-center">
                    <p-chip label="Information" icon="pi pi-angle-double-right" styleClass="mr-2"></p-chip>
                    <p-chip label="{{master.insertUser.userId}}" icon="pi pi-user" tooltipPosition="top" pTooltip="{{ 'common.insertUser' | translate }}" styleClass="mr-2"></p-chip>
                    <p-chip label="{{master.insertDate | date: 'dd/MM/yyyy'}}" icon="pi pi-history" tooltipPosition="top" pTooltip="{{ 'common.insertDate' | translate }}" styleClass="mr-2"></p-chip>
                    <p-chip label="{{master.status.nameEn}}" icon="pi pi-check" pTooltip="{{ 'common.status' | translate }}" tooltipPosition="top" styleClass="mr-2"></p-chip>
                </div>
            </div>
        </div>
        </ng-template>

        <ng-template pTemplate="right">
            <div class="field col">
                <button pButton pRipple type="button" [style]="{'width':'150px'}" label="{{ 'operations.addPayment' | translate }}" icon="pi pi-dollar"
                *ngIf="(master.status.id===2)" (click)="addPayment()" class="mb-3 p-button-success"></button>
            </div>
            <div class="field col">
                <p-confirmPopup></p-confirmPopup>
                <p-menu #menu [popup]="true" [model]="menuItems" [style]="{'width':'200px'}"></p-menu>
                <button pButton pRipple class="mb-3 p-button-warning" type="button" icon="pi pi-fw pi-cog" label="{{ 'operations.actions' | translate }}" (click)="menu.toggle($event)"></button>
            </div>
            <div class="field col">
                <button pButton pRipple type="button" label="{{ 'operations.print' | translate }}" icon="pi pi-print"
                (click)="print()" [disabled]="(master.status.id != 2)" class="mb-3"></button>
            </div>
        </ng-template>
    </p-toolbar>

                <div class="grid layout-invoice-content">
                    <div class="col-12">
                        <div class="card">
                            <div class="flex justify-content-between">
                                <h5>{{ 'invoiceDetails.title' | translate }} #{{master.id}} 
                                </h5>  
                                <div class="flex flex-column align-items-end">
                                    <img src="assets/layout/images/extensions/prime-logo.svg" alt="invoice-logo"/>
                                    <p class="mt-1">9137 3rd Lane California City, CA 93504.</p>
                                </div>
                            </div>

                <div class="p-3">
                    <p-table [columns]="cols" [rows]="1" [value]="masters"
                        styleClass="p-invoice-datatable-responsive pb-3">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th pColumn="customer.partyName">{{ 'common.customer' | translate }}</th>
                                <th pColumn="orderDate">{{ 'invoice.tableColumn.orderDate' | translate }}</th>
                                <th pColumn="dueDate">{{ 'invoice.tableColumn.dueDate' | translate }}</th>
                                <th pColumn="cu.CurrencyCode">{{ 'common.currency' | translate }}</th>
                                <th pColumn="cuRate">{{ 'common.cuRate' | translate }}</th>
                                <th [hidden]="printingMode===true || master.refernceMode===true">{{ 'operations.operations' | translate }}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-master>
                            <tr>
                                <td>
                                    {{master.customerName}}
                                </td>
                                <td>
                                    {{master.orderDate | date: 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{master.dueDate | date: 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{master.cuCode}}
                                </td>
                                <td>
                                    {{master.cuRate}}
                                </td>
                                <td [hidden]="printingMode===true || master.refernceMode===true">
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                        (click)="editParentAction()"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <div class="pt-6">
                        <h6>{{ 'invoice.separatorTitle' | translate}}</h6>
                    </div>
                    <p-table dataKey="id" #dt [columns]="cols" [rows]="10" [value]="details"
                        styleClass="p-invoice-datatable-responsive pb-3">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th pColumn="id">{{ 'common.id' | translate }}</th>
                                <th pColumn="item">{{ 'common.item' | translate }}</th>
                                <th pColumn="description">{{ 'common.description' | translate }}</th>
                                <th pColumn="metric">{{ 'common.metric' | translate }}</th>
                                <th pColumn="unitPrice">{{ 'common.unitPrice' | translate }}</th>
                                <th pColumn="qty">{{ 'common.qty' | translate }}</th>
                                <th pColumn="total">{{ 'common.total' | translate }}</th>
                                <th [hidden]="(printingMode)" style="text-align:center">{{ 'operations.operations' | translate }}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-invoiceDetail>
                            <tr>
                                <td>
                                    {{invoiceDetail.id}}
                                </td>
                                <td>
                                    {{invoiceDetail.item.itemName}}
                                </td>
                                <td>
                                    {{invoiceDetail.description}}
                                </td>
                                <td>
                                    {{invoiceDetail.metric.metricName}}
                                </td>
                                <td>
                                    {{invoiceDetail.unitPrice | number}}
                                </td>
                                <td>
                                    {{invoiceDetail.qty}}
                                </td>
                                <td>
                                    {{invoiceDetail.total | number}}
                                </td>
                                <ng-container>
                                    <td [hidden]="(printingMode)" style="text-align:center">
                                        <button pButton pRipple type="button" icon="pi pi-pencil"
                                            (click)="editAction(invoiceDetail)" [disabled]="!(master.status.id == 1 && editAuth===true)"
                                            class="p-button-rounded p-button-text hidden-print"></button>
                                        <button pButton pRipple type="button" icon="pi pi-trash"
                                            (click)="deleteAction(invoiceDetail)" [disabled]="!(master.status.id == 1 && editAuth===true)"
                                            class="p-button-rounded p-button-text hidden-print"></button>
                                    </td>
                                </ng-container>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td colspan="6" class="text-right">{{ 'common.subTotal' | translate }}</td>
                                <td><span class="pink-color">{{master.amount | number}}</span></td>
                                <td colspan="6" class="text-right"></td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right">{{ 'common.discount' | translate }} ({{master.discountType==1 ? master.discount : 'common.fixed' | translate }}{{master.discountType==1 ? '%' : ''}})</td>
                                <td><span class="pink-color">{{master.discountType==1 ? ((master.amount * master.discount)/100 | number) : master.discount}} </span>
                                </td>
                                <td [hidden]="(printingMode)" style="text-align:left">
                                    <button pButton pRipple type="button" icon="pi pi-pencil"
                                        (click)="editDiscount()" [disabled]="!(master.status.id == 1 && editAuth===true)"
                                        class="p-button-rounded p-button-text hidden-print"></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right">{{ 'common.vat' | translate }} ({{master.vat | number}}%)</td>
                                <td><span class="pink-color">{{vatValue | number}}</span></td>
                                <td [hidden]="(printingMode)" style="text-align:left">
                                    <button pButton pRipple type="button" icon="pi pi-pencil"
                                        (click)="editVat()" [disabled]="!(master.status.id == 1 && editAuth===true)"
                                        class="p-button-rounded p-button-text hidden-print"></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right">{{ 'common.grandTotal' | translate }}</td>
                                <td><span class="pink-color">{{master.netAmount | number}}</span></td>
                                <td colspan="6" class="text-right"></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between" [hidden]="!(master.terms)">
                                {{ 'common.terms' | translate }} {{master.terms}}
                            </div>
                        </ng-template>
                    </p-table>
                </div>

                <div class="pt-6" [hidden]="printingMode===true || master.refernceMode===true">
                    <h6>{{ 'invoice.paymentSeparatorTitle' | translate}}</h6>
                </div>

            <p-table #dt [value]="paymentEntries" [columns]="cols" [rows]="10"
                [(selection)]="selectedEntries" [rowHover]="true" styleClass="p-datatable-customers" [hidden]="printingMode===true || master.refernceMode===true">
                <ng-template pTemplate="header">
                    <tr>
                        <th pColumn="ID">{{ 'common.id' | translate }}
                        </th>
                        <th pColumn="orderDate">{{ 'paymentEntry.tableColumn.gaidDate' | translate }}
                        </th>
                        <th pColumn="paymentMethod">{{ 'paymentEntry.tableColumn.paymentMethod' | translate }}
                        </th>
                        <th pColumn="amount">{{ 'paymentEntry.tableColumn.amount' | translate }}
                        </th>
                        <th pColumn="receiptNo">{{ 'paymentEntry.tableColumn.receiptNo' | translate }}
                        </th>
                        <th pColumn="receiptDate">{{ 'paymentEntry.tableColumn.receiptDate' | translate }}
                        </th>
                        <th pColumn="agentName">{{ 'paymentEntry.tableColumn.agentName' | translate }}
                        </th>
                        <th style="text-align:center">{{ 'operations.operations' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-paymentEntry>
                    <tr>
                        <td>{{paymentEntry.id}}
                        </td>
                        <td>{{paymentEntry.orderDate | date: 'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{paymentEntry.paymentMethod.name}}
                        </td>
                        <td>
                            {{paymentEntry.amount}}
                        </td>
                        <td>
                            {{paymentEntry.receiptNo}}
                        </td>
                        <td>
                            {{paymentEntry.receiptDate}}
                        </td>
                        <td>
                            {{paymentEntry.agentName}}
                        </td>
                        <td>
                            <ng-container>
                                <td style="text-align:center">
                                    <button pButton pRipple type="button" icon="pi pi-pencil"
                                        (click)="editPayment(paymentEntry)" [disabled]="!(paymentEntry.status.id == 1 && editAuth===true)"
                                        class="p-button-rounded p-button-text hidden-print"></button>
                                    <button pButton pRipple type="button" icon="pi pi-trash"
                                        (click)="deletePayment(paymentEntry)" [disabled]="!(paymentEntry.status.id == 1 && editAuth===true)"
                                        class="p-button-rounded p-button-text hidden-print"></button>
                                </td>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="masterDialog" [style]="{width: '700px'}" header="{{ 'invoice.invoiceDialog.title' | translate }}" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label>{{ 'common.saleCost' | translate }}</label>
                        <p-dropdown [options]="saleAccounts" [(ngModel)]="selectedSaleAccount" optionLabel="name"
                        [showClear]="true" [autoDisplayFirst]="false" required autofocus></p-dropdown>
                    </div>
                    <!-- <div class="field col-12 md:col-5">
                        <label for="orderId">{{ 'invoice.tableColumn.orderId' | translate }}</label>
                        <input type="number" pInputText id="orderId" [(ngModel)]="master.orderId" required autofocus />
                        <small class="p-error" *ngIf="submitted && !master.orderId">{{ 'invoice.invoiceDialog.orderIdRequired' | translate }}</small>
                    </div> -->
                    <div class="field col-12 md:col-4">
                        <label for="orderDate">{{ 'invoice.tableColumn.orderDate' | translate }}</label>
                        <input type="date" pInputText id="orderDate" [(ngModel)]="master.orderDate" required autofocus />
                        <small class="p-error" *ngIf="submitted && !master.orderDate">{{ 'invoice.invoiceDialog.orderDateRequired' | translate }}</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="dueDate">{{ 'invoice.tableColumn.dueDate' | translate }}</label>
                        <input [min]="minDate" type="date" pInputText id="dueDate" [(ngModel)]="master.dueDate" required autofocus />
                        <small class="p-error" *ngIf="submitted && !master.dueDate">{{ 'invoice.invoiceDialog.dueDateRequired' | translate }}</small>
                    </div>
                    <div class="field col-12 md:col-9">
                        <label>{{ 'common.customer' | translate }}</label>
                        <p-autoComplete [(ngModel)]="selectedParty" [suggestions]="filteredParties" styleClass="w-full"
                        (completeMethod)="filterParty($event)" field="partyName" [dropdown]="true" required autofocus>
                         </p-autoComplete>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label>{{ 'common.currency' | translate }}</label>
                        <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" optionLabel="currencyCode"
                        [showClear]="true" [autoDisplayFirst]="false" required autofocus (onChange)="onSelectCurrency(selectedCurrency)"></p-dropdown>
                    </div>
                    <div class="field col-12">
                        <label>{{ 'common.notes' | translate }}</label>
                        <textarea rows="5" cols="30" class="w-full" pInputTextarea [(ngModel)]="master.notes"></textarea>
                    </div>
                </div>
    
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="{{ 'operations.cancel' | translate}} " icon="pi pi-times" class="p-button-text"
                        (click)="hideParentDialog()"></button>
                    <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check" class="p-button-text" (click)="saveAll()" [disabled]="!(selectedParty && selectedCurrency && selectedSaleAccount && master.status.id == 1 && editAuth===true)"></button>
                </ng-template>
            </p-dialog>

                <p-dialog [(visible)]="detailDialog" [style]="{width: '550px'}"
                    header="{{ 'invoiceDetails.invoiceDetailsDialog.title' | translate }}" [modal]="true"
                    styleClass="p-fluid">
                    <ng-template pTemplate="content">
                        <div class="field">
                            <label>{{ 'common.item' | translate }}</label>
                            <p-dropdown [options]="items" [(ngModel)]="selectedItem" optionLabel="itemName"
                            [showClear]="true" [autoDisplayFirst]="false" required autofocus (onChange)="onSelectItem(selectedItem)"></p-dropdown>
                        </div>
                        <div class="field">
                            <label>{{ 'common.description' | translate }}</label>
                            <textarea rows="5" cols="30" class="w-full" pInputTextarea [(ngModel)]="detail.description"></textarea>
                        </div>
                        <div class="formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label>{{ 'common.metric' | translate }}</label>
                            <p-dropdown [options]="metrics" [(ngModel)]="selectedMetric" optionLabel="metricName"
                            [showClear]="true" [autoDisplayFirst]="false" required autofocus></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="unitPrice">{{ 'common.unitPrice' | translate }}</label>
                            <p-inputNumber id="unitPrice" [(ngModel)]="detail.unitPrice" required autofocus (ngModelChange)="calculateTotalByUnitPrice(detail.unitPrice)"></p-inputNumber>
                            <small class="p-error" *ngIf="submitted && !detail.unitPrice">{{'common.unitPriceRequired' | translate }}</small>
                            <small class="p-error" *ngIf="detail.unitPrice <= 0">{{'common.unitPricePositiveConstraint' | translate }}</small>
                        </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label for="qty">{{ 'common.qty' | translate }}</label>
                                <p-inputNumber id="qty" [(ngModel)]="detail.qty" required autofocus (ngModelChange)="calculateTotalByQty(detail.qty)"></p-inputNumber>
                                <small class="p-error" *ngIf="submitted && !detail.qty">{{'common.qtyRequired' | translate }}</small>
                                <small class="p-error" *ngIf="detail.qty < 0">{{'common.qtyPositiveConstraint' | translate }}</small>
                            </div>
                        <div class="field col-12 md:col-6">
                            <label for="total">{{ 'common.total' | translate }}</label>
                            <p-inputNumber id="total" [(ngModel)]="detail.total" required autofocus [disabled]="true"></p-inputNumber>
                            <small class="p-error" *ngIf="submitted && !detail.total">{{'common.totalRequired' | translate }}</small>
                        </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="{{ 'operations.cancel' | translate}} " icon="pi pi-times"
                            class="p-button-text" (click)="hideDialog()"></button>
                        <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check"
                            class="p-button-text" (click)="save()" [disabled]="!(selectedItem && selectedMetric)"></button>
                    </ng-template>
                </p-dialog>


                <p-dialog [(visible)]="discountDialog" [style]="{width: '400px'}"
                    header="{{ 'common.discountDialog' | translate }}" [modal]="true"
                    styleClass="p-fluid">
                    <ng-template pTemplate="content">
                        <div class="field col-12">
                            <label for="discountType">{{ 'common.discountType' | translate }}</label>
                            <p-dropdown [options]="discountTypeList" [(ngModel)]="selectedDiscountType" optionLabel="label" [showClear]="true"
                            [autoDisplayFirst]="false"></p-dropdown>
                        </div>
                        <div class="field col-12">
                            <label for="discount">{{ 'common.discount' | translate }}</label>
                            <p-inputNumber id="discount" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" min=0 [(ngModel)]="master.discount" (ngModelChange)="calculateNetAmount()" required autofocus></p-inputNumber>
                            <small class="p-error" *ngIf="parentSubmitted && !master.discount">{{ 'common.discountRequired' | translate }}</small>
                        </div>
                        <div class="field col-12">
                            <label for="netAmount">{{ 'common.grandTotal' | translate }}</label>
                            <p-inputNumber id="netAmount" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" min=0 [(ngModel)]="master.netAmount" required autofocus [disabled]="true"></p-inputNumber>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="{{ 'operations.cancel' | translate}} " icon="pi pi-times"
                            class="p-button-text" (click)="hideDiscountDialog()"></button>
                        <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check"
                            class="p-button-text" (click)="saveAll()" [disabled]="!(selectedDiscountType && master.status.id == 1 && editAuth===true)"></button>
                    </ng-template>
                </p-dialog>


            <p-dialog [(visible)]="vatDialog" [style]="{width: '400px'}"
                header="{{ 'common.vatDialog' | translate }}" [modal]="true"
                styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <div class="field col-12">
                        <label for="vat">{{ 'common.vat' | translate }}</label>
                        <p-dropdown [options]="vats" [(ngModel)]="selectedVat" optionLabel="type" [showClear]="true"
                        [autoDisplayFirst]="false" (onChange)="calculateTotalWithVat()"></p-dropdown>
                    </div>
                    <div class="field col-12">
                        <label for="vat">{{ 'common.vatValue' | translate }}</label>
                        <p-inputNumber id="vat" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" min=0 [(ngModel)]="vatValue" required autofocus [disabled]="true"></p-inputNumber>
                    </div>
                    <div class="field col-12">
                        <label for="netAmount">{{ 'common.grandTotal' | translate }}</label>
                        <p-inputNumber id="netAmount" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" min=0 [(ngModel)]="master.netAmount" required autofocus [disabled]="true"></p-inputNumber>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="{{ 'operations.cancel' | translate}} " icon="pi pi-times"
                        class="p-button-text" (click)="hideVatDialog()"></button>
                    <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check"
                        class="p-button-text" (click)="saveAll()" [disabled]="!(selectedVat && master.status.id == 1 && editAuth===true)"></button>
                </ng-template>
            </p-dialog>

        <p-dialog [(visible)]="stockOrderDialog" [style]="{width: '600px'}" header="{{ 'stockOrder.stockOrderDialog.title' | translate }}" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12">
                        <label for="orderDate">{{ 'stockOrder.tableColumn.orderDate' | translate }}</label>
                        <input [min]="paymentMinDate" type="date" pInputText id="orderDate" [(ngModel)]="stockOrder.orderDate" required autofocus />
                        <small class="p-error" *ngIf="stockOrderSubmitted && !stockOrder.orderDate">{{ 'stockOrder.stockOrderDialog.orderDateRequired' | translate }}</small>
                    </div>
                    <div class="field col-12">
                        <label>{{ 'common.stock' | translate }}</label>
                        <p-dropdown [options]="stocks" [(ngModel)]="selectedStock" optionLabel="stockName"
                        [showClear]="true" [autoDisplayFirst]="false" required autofocus></p-dropdown>
                    </div>
                    <div class="field col-12">
                        <label>{{ 'stockOrder.tableColumn.receiptName' | translate }}</label>
                        <input type="text" pInputText id="receiptName" [(ngModel)]="stockOrder.receiptName" required/>
                        <small class="p-error" *ngIf="stockOrderSubmitted && !stockOrder.receiptName">{{ 'stockOrder.stockOrderDialog.receiptNameRequired' | translate }}</small>
                    </div>
                    <div class="field col-12">
                        <label>{{ 'common.notes' | translate }}</label>
                        <textarea rows="5" cols="30" class="w-full" pInputTextarea [(ngModel)]="stockOrder.notes"></textarea>
                    </div>
                </div>

            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="{{ 'operations.cancel' | translate}} " icon="pi pi-times" class="p-button-text"
                    (click)="cancelStockOrder()"></button>
                <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check" class="p-button-text" (click)="issueStock()" [disabled]="!(selectedStock)"></button>
            </ng-template>
        </p-dialog>

    <p-dialog [(visible)]="saleRevertDialog" [style]="{width: '600px'}" header="{{ 'saleRevert.saleRevertDialog.title' | translate }}" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="formgrid grid">
                <div class="field col-12">
                    <label for="orderDate">{{ 'saleRevert.tableColumn.orderDate' | translate }}</label>
                    <input [min]="paymentMinDate" type="date" pInputText id="orderDate" [(ngModel)]="saleRevert.orderDate" required autofocus />
                    <small class="p-error" *ngIf="saleRevertSubmitted && !saleRevert.orderDate">{{ 'saleRevert.saleRevertDialog.orderDateRequired' | translate }}</small>
                </div>
                <div class="field col-12">
                    <label>{{ 'common.stock' | translate }}</label>
                    <p-dropdown [options]="stocks" [(ngModel)]="selectedStock" optionLabel="stockName"
                    [showClear]="true" [autoDisplayFirst]="false" required autofocus></p-dropdown>
                </div>
                <div class="field col-12">
                    <label>{{ 'common.notes' | translate }}</label>
                    <textarea rows="5" cols="30" class="w-full" pInputTextarea [(ngModel)]="saleRevert.notes"></textarea>
                </div>
            </div>

        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="{{ 'operations.cancel' | translate}} " icon="pi pi-times" class="p-button-text"
                (click)="cancelSaleRevert()"></button>
            <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check" class="p-button-text" (click)="issueSaleRevert()" [disabled]="!(selectedStock)"></button>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteSingleDialog" header="{{ 'operations.deleteConfirm' | translate }}"
                    [modal]="true" [style]="{width:'450px'}">
                    <div class="flex align-items-center justify-content-center">
                        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                        <span *ngIf="detail">{{ 'operations.deleteMessage' | translate }} <b>{{'common.id' | translate }}
                                {{detail.id}}</b>?</span>
                    </div>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                            (click)="deleteSingleDialog = false"></button>
                        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                            (click)="confirmDelete()"></button>
                    </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="confirmActionDialog" header="{{ 'operations.confirmAction' | translate}}"
                    [modal]="true" [style]="{width:'450px'}">
                    <div class="flex align-items-center justify-content-center">
                        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                        <span><b>{{ 'operations.confirmActionMessage' | translate }}</b></span>
                    </div>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                            (click)="confirmActionDialog = false"></button>
                        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                            (click)="confirm()"></button>
                    </ng-template>
    </p-dialog>

                
    <p-dialog [(visible)]="paymentEntryDialog" [style]="{width: '1000px'}"
        header="{{ 'paymentEntry.paymentEntryDialog.title' | translate }}" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="grid formgrid">
                <div class="field col-12 md:col-4">
                    <label for="gaidNo">{{ 'paymentEntry.tableColumn.gaidNo' | translate }}</label>
                    <input type="number" pInputText id="gaidNo" [(ngModel)]="paymentEntry.gaidNo" [disabled]="true"/>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="name">{{ 'paymentEntry.tableColumn.gaidDate' | translate }}</label>
                    <input [min]="paymentMinDate" type="date" pInputText id="orderDate" [(ngModel)]="paymentEntry.orderDate" required autofocus />
                    <small class="p-error" *ngIf="paymentSubmitted && !paymentEntry.orderDate">{{ 'paymentEntry.paymentEntryDialog.gaidDateRequired' | translate }}</small>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="name">{{ 'paymentEntry.tableColumn.paymentMethod' | translate }}</label>
                    <span class="p-float-label">
                        <p-dropdown [options]="paymentMethods" [(ngModel)]="selectedPaymentMethod" optionLabel="name"
                            [showClear]="true" [autoDisplayFirst]="false"></p-dropdown>
                    </span>
                </div>
            </div>
            <div class="grid formgrid">
                <div class="field col-12 md:col-6" [hidden]="selectedPaymentMethod?.id > 1">
                    <label>{{ 'paymentEntry.tableColumn.safeAccNo' | translate }}</label>
                    <p-dropdown [options]="safes" [(ngModel)]="selectedSafe" optionLabel="safeName"
                    [showClear]="true" [autoDisplayFirst]="false" required autofocus></p-dropdown>
                </div>
                <div class="field col-12 md:col-6" [hidden]="selectedPaymentMethod?.id==1">
                    <label>{{ 'paymentEntry.tableColumn.bankAccNo' | translate }}</label>
                    <p-dropdown [options]="banks" [(ngModel)]="selectedBank" optionLabel="bankName"
                    [showClear]="true" [autoDisplayFirst]="false" required autofocus></p-dropdown>
                </div>
                <div class="field col-12 md:col-3">
                    <label for="receiptNo">{{ 'paymentEntry.tableColumn.receiptNo' | translate }}</label>
                    <input type="text" id="receiptNo" pInputText [(ngModel)]="paymentEntry.receiptNo"/>
                </div>
                <div class="field col-12 md:col-3">
                    <label for="name">{{ 'paymentEntry.tableColumn.receiptDate' | translate }}</label>
                    <input [min]="paymentMinDate" type="date" pInputText id="receiptDate" [(ngModel)]="paymentEntry.receiptDate" required autofocus />
                </div>
            </div>
            <div class="grid formgrid">
                <div class="field col-12 md:col-6">
                    <label for="name">{{ 'paymentEntry.tableColumn.agentName' | translate }}</label>
                    <input type="text" pInputText id="agentName" [(ngModel)]="paymentEntry.agentName" required autofocus />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="name">{{ 'paymentEntry.tableColumn.handOn' | translate }}</label>
                    <input type="text" pInputText id="handOn" [(ngModel)]="paymentEntry.handOn" required autofocus />
                    <small class="p-error" *ngIf="paymentSubmitted && !paymentEntry.handOn">{{ 'paymentEntry.paymentEntryDialog.handOnRequired'|translate }}</small>
                </div>
            </div>
            <div class="grid formgrid">
                <div class="field col-12 md:col-3">
                    <label for="famount">{{ 'paymentEntry.tableColumn.famount' | translate }}</label>
                    <p-inputNumber id="famount" [(ngModel)]="paymentEntry.famount" maxFractionDigits="2"></p-inputNumber>
                    <small class="p-error" *ngIf="paymentSubmitted && !paymentEntry.famount">{{ 'common.famountRequired'|translate }}</small>
                </div>
                <div class="field col-12 md:col-3">
                    <label for="name">{{ 'paymentEntry.tableColumn.cu' | translate }}</label>
                    <span class="p-float-label">
                        <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" optionLabel="currencyCode" (onChange)="onPaymentEntrySelectCurrency(selectedCurrency)"
                        [showClear]="true" [autoDisplayFirst]="false"></p-dropdown>
                    </span>
                </div>
                <div class="field col-12 md:col-2">
                    <label for="cuRate">{{ 'paymentEntry.tableColumn.cuRate' | translate }}</label>
                    <p-inputNumber id="cuRate" [(ngModel)]="paymentEntry.cuRate" maxFractionDigits="2" [ModelChange]="onCurrencyRateChange(paymentEntry.cuRate)"></p-inputNumber>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="amount">{{ 'paymentEntry.tableColumn.amount' | translate }}</label>
                    <p-inputNumber id="amount" [(ngModel)]="paymentEntry.amount" maxFractionDigits="2" [disabled]="true"></p-inputNumber>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hidePaymentDialog()"></button>
            <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check" class="p-button-text" (click)="savePayment()" [disabled]="!(selectedCurrency && selectedPaymentMethod && editAuth===true)"></button>
        </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="deleteSinglePaymentDialog" header="{{ 'operations.deleteConfirm' | translate }}" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="paymentEntry">{{ 'operations.deleteMessage' | translate }} <b>{{paymentEntry.agentName}}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="deleteSingleDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                (click)="confirmPaymentDelete()"></button>
        </ng-template>
    </p-dialog>